.alt-header__title {
  font-size: 20px;
}
.alt-header .alt-header__column:nth-child(3) i {
  margin-left: 30px;
}
.chat-screen {
  background-color: #abc1d1;
}
.chat-screen .alt-header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  background-color: #abc1d1;
}
.chat-screen .status-bar {
  z-index: 100;
}
@keyframes fadeIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.chat {
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 1s ease-in-out;
}
.chat__timestamp {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 8px;
  border-radius: 30px;
  color: white;
  margin-bottom: 15px;
}
.chat .message-row {
  display: flex;
  margin: 10px 0px;
  width: 100%;
}
@keyframes fadeInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.chat .message-row:nth-child(even) {
  justify-content: flex-start;
  animation: fadeInFromLeft 1s ease-in-out;
}
@keyframes fadeInFromRight {
  from {
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.chat .message-row:nth-child(odd) {
  justify-content: flex-end;
  opacity: 0;
  transform: translateX(100px);
  animation: fadeInFromRight 1s ease-in-out forwards;
  animation-delay: 0.5s;
}
.chat .message-row:nth-child(odd) .message__info {
  flex-direction: row-reverse;
}
.chat .message-row:nth-child(odd) .message__bubble {
  background-color: var(--yellow);
  border-top-left-radius: 10px;
  border-top-right-radius: 0px;
  margin-left: 8px;
}
.message-row__content .message__author {
  color: rgba(0, 0, 0, 0.6);
  display: block;
  margin-bottom: 10px;
}
.message__author {
  margin-bottom: 10px;
}

.chat .message-row img {
  width: 50px;
  height: 50px;
  border-radius: 15px;
  margin-right: 15px;
}
.message__bubble {
  background-color: white;
  padding: 8px 12px;
  border-radius: 10px;
  border-top-left-radius: 0px;
}
.message__info {
  display: flex;
  align-items: flex-end;
}
.message__time {
  font-size: 12px;
  opacity: 0.7;
  margin-left: 7px;
  z-index: 3;
}
.reply {
  position: fixed;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  width: 100%;
  padding: 5px 25px;
  box-sizing: border-box;
  transition: transform 0.3s ease-in-out;
}

.reply .reply__column:first-child {
  width: 10%;
  opacity: 0.5;
}
.reply .reply__column:last-child {
  width: 90%;
}
.reply .reply__column {
  position: relative;
}

.reply__column input {
  width: 100%;
  height: 30px;
  border-radius: 20px;
  border: var(--main-border);

  padding-left: 15px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}
.reply .reply__column:last-child > i,
.reply .reply__column:last-child button {
  position: absolute;
}
.reply .reply__column:last-child > i {
  right: 50px;
  top: 3px;
  font-size: 25px;
  opacity: 0.5;
}
.reply__column button {
  background-color: var(--yellow);
  width: 26px;
  height: 26px;
  border-radius: 50%;
  top: 2px;
  right: 5px;
  font-size: 17px;
  border: none;
}
.reply__column:first-child > i {
  font-size: 30px;
}

.reply .reply__column:first-child,
.reply .reply__column > i,
.reply button {
  transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .reply__column > i,
.reply:focus-within button {
  opacity: 0;
}

.reply:focus-within input {
  width: 90vw;
  transform: translateX(-12%) translateY(-35px);
}
.reply:focus-within {
  transform: translateY(35px);
}
