#no-mobile {
  background-color: var(--yellow);
  z-index: 99;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  font-size: 32px;
}

@media screen and (max-width: 530px) {
  #no-mobile {
    display: none;
  }
}
