.screen-header {
  display: flex;

  justify-content: space-between;
  align-items: center;
  padding: 45px 25px;
}

.screen-header__title {
  font-size: 30px;
  font-weight: 600;
}
.fa-music {
  margin: 0px 30px;
}

.fa-comment-dots {
  margin-left: 30px;
}
